{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyrone Smith</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static '/images/logo.jpg' %}">
                    <hr>
                    <h4>Hi, I'm Tyrone!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>A Little Bit About Me</h4>
                    <hr>
                    <p>I'm a motivated student with a passion for analytics and programming. Highly capable of
                        demonstrating strong analytical and problem-solving skills. Aim is to become a well-rounded
                        individual capable of making a positive contribution to the betterment of others, my country
                        and myself.
                    </p>

                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        <li><img class="social" src="{% static 'images/github.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p>Applied Scientist Intern</p>
                    <p> • Worked on AWS code static analysis, helping to test new tools under development.</p>
                    <p> • Analyzed new service codes with the static analyzers to see whether they could be applied to
                        new AWS services, reporting and fixing bugs/issues/usability problems that arose.</p>
                    <p> • Wrote AWS client code that uses the AWS API to build a suite of tests showing end-to-end
                        usability for API static analysis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know</h5>
                    <hr>
                    <p> Python, Java, C/C++, HTML/CSS, AWS and APIs such as Twitter and whole bunch more I can't
                        possibly mention in one sentence!
                    </p>
                    <p>I also participated in a few Hack-A-Thons.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>
					<p>
                        I can learn just about anything by having a final product to tear apart piece by piece. I break
                        the code where I need to figure out why things work the way they do. Documentation is just a
                        reference.
                    </p>
                </div>
            </div>

            <div class="col-md-6 h-100">
                <div class="card card-body">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>After almost two years of supporting my system at the lab I’m ready to learn something new.
                        I'll collaborating and sharing my experience with others on my blog (SayHelloWorld.co) &
                        youtube channel.</p>
                    <p>Aside from building small projects I would love to enter a position where I can be part of a
                        bigger team & learn from others with more experience than myself.</p>
                </div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>